.hidden {
  display: none;
}
.empty {
  background-color: red;
}
.keg__name {
  margin-top: 0;
  text-decoration: underline;
  text-align: center;
}

.filter {
  margin-bottom: 5px;
}

.full {
  color:green;
    text-shadow: 1.5px 1.5px 2px grey;
    text-align: center;
}

.notFull {
  color:yellow;
  text-shadow: 1.5px 1.5px 2px grey;
  text-align: center;
}

.low {
  color:orange;
  text-shadow: 1.5px 1.5px 2px grey;
  text-align: center;
}

.danger {
  color:red;
  text-shadow: 1.5px 1.5px 2px grey;
  text-align: center;
}

li {
  list-style: none;
}
/*.keg__name {
  float:left;
}
.keg__info {
  float: right;
  clear: right;
}
.well {
  clear:both;
}*/
